<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="constr" connectionString="Data Source=ERM14;User ID=STD14_REL2;Password=STD14_REL2;Unicode=True" />
    <add name="WpfPractise.Properties.Settings.ConnectionString"
      connectionString="Data Source=ERM14;Persist Security Info=True;User ID=STD14_REL2;Password=STD14_REL2;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>
