<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add connectionString="Data Source=ERM14;User ID=STD14_DEV2;Password=STD14_DEV2;Unicode=True" name="constr"/>
  </connectionStrings>
</configuration>